<h1>Listing products</h1>

<table id="products" class="display" data-source="<%= products_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Released on</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
